* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container {
    width: 100%;
    height: 550px;
    top: 95px;
    background-image: url('bg 1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}

.header_image {

    text-align: center;
    padding-top: 25px;
}

.header_image p {
    font-size: 50px;
    font-weight: bold;

}

.hr {
    width: 25%;
    margin-left: 38%;
    margin-top: 10px;
}

.classbox {
    /* background-color: red; */
    height: 400px;
    display: flex;
    justify-content: space-around;

}

.classbox1,
.classbox2,
.classbox3 {
    /* background-color: blue; */
    height: 90%;
    width: 30%;
    margin-top: 30px;

}

.classbox1 img,
.classbox2 img,
.classbox3 img {
    width: 100%;
    height: 70%;
    border-radius: 10%;
    border: 2px solid white;
}



.classbox1 p,
.classbox2 p,
.classbox3 p {
    text-align: center;
    margin-top: 20px;
    font-size: medium;
    font-weight: bold;
}

.classbox1 span,
.classbox2 span,
.classbox3 span {
    background-color: red;
    display: inline-block;
    margin-top: 10px;

    margin-left: 40px;
    padding: 15px;
    border-radius: 30px;
    width: 80%;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}
/* media queries */
@media (max-width:550px){
    .classbox{
        flex-direction: column;
       box-sizing: border-box;
       /* height: 1200px; */
       margin-top: 40px;
       column-gap: 20px;
    }
    .main_container{
        height: 700px;
        background-size: cover;
    }
   
.classbox1,
.classbox2,
.classbox3 {
    /* background-color: blue; */
    box-sizing: border-box;
    height: 100%;
    width: 30%;
    margin-top: 30px;
    display: flex;
    gap:30px;
}
.classbox1 img,
.classbox2 img,
.classbox3 img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: 2px solid white;
    background-size: cover;
}
}

.main_container2 {
    background-color: white;
    width: 100%;
    height: 600px;
}

.main_container2image {
    text-align: center;
    padding-top: 25px;
}

.main_container2image p {
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.hr1 {
    width: 35%;
    margin-left: 33%;
    margin-top: 10px;
}

.trainingpartnerbox {
    /* background-color: red; */
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
}

.trainingpartnerbox1,
.trainingpartnerbox2,
.trainingpartnerbox3 {
    /* background-color: blue; */
    height: 70%;
    width: 25%;
    margin-top: 80px;

}

.trainingpartnerbox1 img,
.trainingpartnerbox2 img,
.trainingpartnerbox3 img {
    width: 100%;
    height: 80%;
}

.trainingpartnerbox1 p,
.trainingpartnerbox2 p,
.trainingpartnerbox3 p {
    background-color: gray;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: larger;
    padding: 6px;
    width: 50%;
    margin-top: 15px;
    margin-left: 23%;
    border-radius: 8px;
}

/* #f0cc9f; */
.trainingpartnerboxbackground {
    background-color: #f0cc9f;
    width: 97%;
    height: 40%;
    margin-top: -200px;
}

.animationimages {
    background-image: url('bruce-mars-HHXdPG_eTIQ-unsplash.jpg');
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: change 20s infinite ease;
}

@keyframes change {
    0% {
        background-image: url('bruce-mars-HHXdPG_eTIQ-unsplash.jpg');
    }

    25% {
        background-image: url('bruce-mars-WGN6ZEFEZbs-unsplash.jpg');
    }

    50% {
        background-image: url('couple-training-together-gym.jpg');
    }

    75% {
        background-image: url('bruce-mars-WGN6ZEFEZbs-unsplash.jpg');
    }

    100% {
        background-image: url('gym3.jpg');
    }

}